/* Task 1 */
.task1 header{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.task1 a{
    font-size: 25px;
}
.task1 .container{
    display: flex ;
    justify-content: space-around;
}
.task1 section{
    border: 2px solid black;
    width: 50%;
    margin: 5px;
}
.task1 .section-content{
    height: 100px;
    padding: 3px;
    text-align: center;
}
.task1 footer{
    background-color: aliceblue;
    height: 25px;
    text-align: center;
}
/* Task 2 */
.task2 .parent{
    border: 2px solid black;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
}
.task2 .child{
    border: 2px solid orange;
    padding: 2.5%;
    width: 25%;
}

/* Task 3 */
.task3 p{
    font-size: 30px;
}
.task3 header{
    background-color:thistle;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.task3 .container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    height: 150px;
    text-align: center;
}
.task3 .sidenav{
    background-color: beige;
    width: 35%;
    margin-right: 0.5%;
}
.task3 .main{
    background-color: antiquewhite;
    width: 35%;
    margin-right: 0.5%;
}
.task3 .sidebar{
    background-color: beige;
    width: 35%;
}
.task3 footer{
    background-color:thistle;
    text-align: center;
    display: flex;
    justify-content: space-around;
}